

.glyphicon{
	
	font-size: 25em;
	color:#E83D00; 
}

.glyphicon:hover{
	color:#FFA057; 

}

.btn{
	background: transparent;
}
.modal-content{
	background-image: url(img/tile.png); 
	width: 700;
}



h2{
	font-family: 'Permanent Marker', cursive;
	font-size: 100px;
	color: white;
	text-shadow: -10px 0 black, 0 1px black, 1px 0 black,0  -1px black;

	
}
h3{
	font-family: 'Permanent Marker', cursive;
	color: white;
	font-size: 20px;
	text-align: center;
	text-shadow: -5px 0 black, 0 1px black, 1px 0 black,0  -1px black;
}
h1{

	font-family: 'Permanent Marker', cursive;
	font-size: 60px;
	color: black;
	text-align: center;
	padding-bottom: 30px;
}
h6{
	font-family: 'Permanent Marker', cursive;
	font-size: 25px;
	padding-bottom: 50px;
	color: white;

}

header{

	background-image: url(img/sk8trade.jpg);
	background-repeat: none;
	background-size: cover;
	padding-bottom: 150px;
}

#back{
	background-color: grey;
	opacity: .8;
	margin-top: 30px;
}

section{
	background-image: url(img/mbridge.jpg);
	background-repeat: repeat;
	background-size: cover;
	padding-bottom: 250px;
	
}

p{
	padding: 4px;
	
	border-radius: 10px;
	color: black;
	font-family: 'Permanent Marker', cursive;
	font-size: 20px;
}

img{	border-radius: 150px;
	width:150px; 
	height:150px;
	text-align: center;
}



@media (max-width: 600px){
	header{
		background-image: url(img/bbridge.jpg);
		
		background-size: cover;
		
	}

	section{
		background-image: url(http://www.michaelwilliams.co.uk/content/5.personal/2Personal23-MichaelRobertWilliams-Empire-NYC.jpg);

		background-size: cover;

		padding-bottom: 80px;
	}

	.pitch{
		width: 20em;
	}
}
